---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <header>
            <div class="meta">
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>
        <footer>
            <address>
               {% if page.author and site.team[page.author].image %}
                <div class="author-pic">
                  <img src="/images/{{ site.team[page.author].image }}">
                </div>
               {% endif %}
                <p>Written by <strong><a rel="author" href="{{site.inc.team_link}}/#{{ page.author }}" title="{{ page.author }}">
                {% if page.author %}
                    {{ page.author }}
                {% else %}
                    Namshi
                {% endif %}
                </a></strong><br>
                <span class="muted">{{ site.team[page.author].bio }}</span>
                </p>
            </address>

        </footer>
        <section>
            {{ content }}
            {% if category != '0' %}
            <footer>
                <span class="categories">Posted in {{ page.categories | category_links }}</span>
            </footer>
            {% endif %}
            {% include _social.html %}
        </section>

        {% if site.disqus_short_name %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
